[Desktop Entry]
Type=Application
Name=Duplicates Detector
GenericName=Duplicates Detector
Comment=Duplicates Detector.
Exec=dude
Icon=io.github.pjdude.DuplicatesDetector
Categories=Utility;
Terminal=false
StartupNotify=true
Keywords=files;
